# Python
__pycache__/
*.pyc
venv/

# Node
node_modules/
build/

# Misc
.DS_Store
.env
frontend/node_modules/
node_modules/

echo "venv/" >> .gitignore
echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore
